<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

			<section name="PasswordChanger.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />

		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Username" value="" />
		<add key="Password" value="" />
		<add key="pathCSV" value="" />
		<add key="APIURL" value="" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>
